<ion-view view-title="Account">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" value="{{currentUser.firstName}}">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" value="{{currentUser.lastName}}">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" value="{{currentUser.email}}">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Phone</span>
        <input type="text" value="{{currentUser.phone}}">
      </label>
    </div>
  </ion-content>
</ion-view>
